.circle-icon {
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 24px;
    border: none;
    background-color: var(--theme-color);
    color: var(--white-color);
    display: inline-block;
    border-radius: 50%;
    z-index: 99;
}

.circle-icon:hover {
    background-color: var(--vs-secondary-color);
    color: var(--white-color);
    border: 3px solid rgb(201, 9, 9);
}

.brands {
    width: auto;
}

.color-custom-pink {
    background-color: var(--vs-secondary-color);
}

.color-custom-red {
    background-color: var(--theme-color);
}

.color-text-red {
    color: var(--theme-color) !important;
}

#auth-right {
    height: 100%;
    background: url(../img/hero/auth.png);
}

/* PROFILE */
.sidebar .sidebar-item {
    list-style: none;
    position: relative;
    margin-bottom: 16px;

}

.sidebar .sidebar-item.active>.sidebar-link {
    border: 2px solid var(--theme-color);
    color: var(--theme-color);

}

.sidebar .sidebar-item .sidebar-link {
    display: block;
    padding: .7rem 1rem;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: .5rem;
    transition: all .5s;
    text-decoration: none;
    color: #868E8C;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 4px 0px;
}



@media (max-width: 767px) {
    .brands {
        width: 120px;
    }

}
